table.type1 {
    width: 50%;
  }
  table.type1 th {

    padding: 8px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #ce4869 ;
  }
  table.type1 td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid rgb(207, 194, 194);
    padding: 8px;
    background: #eee;
  }